.idea
node_modules

# Generated css files
**/*/index.css

# Tutorial files
css-tutorial.zip

# These files are files you create in the process of following this tutorial.
# Comment them out if you want to share your solutions.
01-to-css-or-scss/*.scss
